/*scroll*/

.scroll{width:87px;height:150px;position: fixed;top: 400px;right: 0;z-index: 123;display: none;}
.scroll-one{cursor:pointer;width: 50px;height: 50px;background: url(../images/scroll_top_bg.png) no-repeat center top;margin: 0 auto;margin-right: 19px;}
.scroll-one:hover{background-position: center bottom;}
.scroll-two{position:fixed;margin-top:15px;right:0;width: 87px;height: 87px;background: url(../images/fixed_contactus.png) no-repeat right top;}
.scroll-two:hover{animation: su-pudding 2s ease 0s;cursor: pointer;width: 235px;}
/*主页轮播2*/
.pre-box{position: relative;}
.nex-box{position: relative;}
.pre11,.pre1{position: absolute;top: 0;left: 0;}
.nex22,.nex1{position: absolute;top: 0;left: 0;}
.pre11,.nex22{display: none;z-index: 999;}
.pre-box:hover .pre11{display:block;}
.nex-box:hover .nex22{display:block;}

/*shouye*/
#banner-wrap{width: 1060px;height:568px;margin:0 auto;background-image: url(../images/banner02_bg.jpg);background-position:center top;}

#banner{width:1100px;margin:0 auto;position:relative;overflow: hidden;}
.banner{width:1100px;height:593px;}
.banner01 img:nth-child(1){position: absolute;top: 176px;left: 618px;}
.banner01 img:nth-child(2){position: absolute;top: 271px;left: 273px;}
.banner01 img:nth-child(3){position: absolute;top: 68px;left: 32px;}

.banner02 img:nth-child(1){position: absolute;top: 141px;left: 0px;}
.banner02 img:nth-child(2){position: absolute;top: 207px;left: 573px;}
.banner02 img:nth-child(3){position: absolute;top: 0px;left: 536px;}

.banner03 img:nth-child(1){position: absolute;top: 298px;left: 163px;}
.banner03 img:nth-child(2){position: absolute;top: -3px;left: 76px;}
.banner03 img:nth-child(3){position: absolute;top: 108px;left: 338px;}

.btn-list{width:220px;height:30px;position:absolute;left:0;right:0;margin:0 auto;bottom:40px;background:url(../images/next&prev_line.png) no-repeat left center;}
.btn-list .btn-prev{width:29px;height:29px;background:url(../images/prev_jiantou.png) no-repeat;cursor: pointer;}
.btn-list .btn-next{width:29px;height:29px;background:url(../images/next_jiantou.png) no-repeat;cursor: pointer;}
.btn-list .banner-list{width:44px;height:10px;border:1px solid #ccc;border-radius: 8px;margin:10px 58px;background:#fff;}
.btn-list .banner-list li{width:6px;height:6px;float:left;background: url(../images/next&prev_others.png) no-repeat;margin:2px 4px;cursor: pointer;}
.btn-list .banner-list li:first-child{background:url(../images/next&prev_now.png);}

/*about company*/
#about-company{width:100%;height: 2540px;min-width: 1100px;}
.inner{background:;width: 1100px;margin: auto;}
.company-down{width:1060px;height:88px;margin: 0 auto;font-size: 24px;line-height: 28px;font-weight: bold;font-family: "微软雅黑";line-height: 88px;}
.company{overflow: hidden;}





ul.btn-ul{width:11px;height:406px;margin-left:30px;}
ul.btn-ul li.btn-li{position:relative;width: 11px;height: 11px;background: url(../images/chanpin_nowline_xiaoquan.png) no-repeat center top;margin-bottom: 68px;transition: .5s;}
div.gaishu-left-btn ul.btn-ul li.btn-li:hover{background: url(../images/chanpin_nowline_xiaoquan.png) no-repeat center bottom;}
div.gaishu-left-btn ul.btn-ul li.btn-li img.big-btn{position: absolute;left:-4px;top:-2px;display: none;}
.dashed-wrap{position: absolute;top: 513px;left: 620px;width: 481px;height: 30px;}
.line-2{border:dashed #dfe0e2;border-width: 0 0 2px 0;margin-top:15px;margin-left:2px;width: 420px;}

/*our works*/

.gaishu-box{position: relative;width: 1060px;height: 300px;margin: 0 auto;margin-top:50px;}

.gaishu-left2-imgs{width:450px;height: 200px;position: absolute;z-index: 111;}
.gaishu-font{overflow:hidden;width: 700px;height: 300px;position: absolute;top: -45px;left: 360px;}
.gaishu-font img{transition:1s;}
.gaishu-font img:hover{transform: scale(1.1);}
.jiaohuan{top: 0px;left: 610px;z-index: 222;}
.jiaohuan2{left: 0px;}
.gaishu-left2-imgs img{opacity: 0.6;transition: 1s;}
.gaishu-left2-imgs img:hover{opacity: 1;}

/*business scope*/
#business{width:100%;min-width: 1100px;background: #f1f2f6;}

.qiyepeixun-01{width: 1100px;height: 241px;border:dashed #dfe0e2;border-width: 1px 0 0 0;}

.one{font-size: 64px;line-height: 241px;color:#b5b6ba;}
.ye,.Entcrprisc{color:#5b556f;font-size:22px;letter-spacing: 5px;}
.Entcrprisc{letter-spacing: -1px;font-size: 16px;}
.qi{margin-left:187px;margin-top:100px;}
.qiye-img{margin-top:50px;margin-left:65px;margin-right:45px;}

.ours{color:#5b556f;}
.p-our{margin-left:-20px;margin-top:100px;}
.jiacha{width:67px;height:67px;overflow:hidden;margin-top:-50px;margin-left:360px;background: url(../images/business_zhankaishouqi.png) no-repeat center top;cursor: pointer;}
.word-1{overflow:hidden;color:#6b6a6f;width: 1100px;height: 348px;padding-left:179px;padding-right:123px;box-sizing: border-box;}
.word-1{display:none;}
.p-fei,.p-cui{text-indent: 20px;}
.p-cui{margin-top:35px;}
.p-fei{margin-top:20px;}
.ul-fei{margin-top:39px;}
.li-fei{}
.span-fei{display:inline-block;width: 5px;height:5px;border-radius: 50%;background-color: #fff;border:2px solid blue;margin-right: 22px;}
.qiye-img:hover{cursor: pointer;}
/*tundui*/
.tundui{width:1100px;height:468px;padding-top:98px;box-sizing: border-box;}
.tundui-left{width: 516px;height:182px;position:relative;}
.tundui-img{transition:.5s;width: 220px;height: 220px;text-align: center;}
.tundui-img:hover{}
.yishen-box{width:220px;height:220px;text-align: center;margin-left: -10px;}
.gaoji{font-size: 14px;}
.shinian{padding-top:30px;box-sizing:border-box;width:260px;height:184px;color:#5f4c83;font-size: 14px;margin-top:-189px;margin-left:220px;overflow: hidden;}
.xinfeng-box{width: 250px;height: 48px;background:#e7e8ec;margin-top:30px;border: 1px solid #dedfe3;}
.xinfeng-left{margin-top:0px;}
.xinfeng-right{width:198px;line-height:50px;text-align: center;}
.xinfeng-box:hover{border: 1px solid #b9babd;}
.weibo-ul{margin-top:-185px;}
.weibo-li{width: 46px;height:46px;background:#299ad6;text-align: center;padding-top:15px;box-sizing: border-box;}
.weibo-li:hover{background:#158bcb;}
.weibo-li2{background:#158bcb;}
.btntwo{position: relative;}
.btn-list2{position: absolute;}
.tundui-window{width: 1100px;height: 468px;overflow: hidden;}
.tundui-box{width: 6600px;height: 468px;}
.tundui-window{margin: 0 auto;}
.t1{font-size: 13px;font-weight: bold;}
.t2{font-size: 12px;line-height: 20px;font-family: "微软雅黑";}
.t3{font-size: 24px;line-height: 36px;font-weight: b0ld;}
/*hezuo*/
.hehezuo{margin-top:50px;}
.hezuo-wrap{width: 100%;background: #fff;}
.hezuo-box{width:1100px;height:508px;margin-top:78px;}
.hezuo-left{width:549px;height:448px;border: solid #d3d3d3;border-width:0 1px 0 0;}
.he-font,.our-a{color:#5f4a83;}
.he-font{font-size:36px;}
.our-a{font-size:14px;letter-spacing: 8px;margin-bottom: 65px;}
.hezuo-li{float:left;width: 163px;height:130px;margin-right:20px;text-align: center;padding-top: 40px;box-sizing: border-box;}
.hezuo-left2{border-width: 0;height:509px;position: relative;}
.yonghu{margin-left:60px;}
.hezuo-li:hover{opacity: .5;}
.gengduo{transition:.2s;width: 69px;height: 26px;background: url(../images/yonghu_morebg.png) no-repeat right top;position: absolute;top: 10px;right: 35px;}
.gengduo:hover{background: url(../images/yonghu_morebg.png) no-repeat left top;}
/*lianxi*/
.lianxi-wrap{width:100%;height:892px;background: #f1f2f6;padding-top: 88px;box-sizing: border-box;}
.inner-lianxi{overflow: hidden;}
.lian{overflow:hidden;width: 1100px;height: 290px;margin-top:68px;}
.lianxiren{position:relative;width: 344px;height: 49px;border: 1px solid #dfdee3;margin-right: 30px;}
.touxiang{width:45px;height:49px;}
.name-input{color:#5f4c83;font-size:14px;font-family:"楷体";width: 299px;height: 49px;padding-left:25px;box-sizing: border-box;}
.nam{position:absolute;color:red;margin-top:16px;left:100px;}
.lianxiren2{margin-right: 0;}

.duohang{width:718px;height: 205px;border: 1px solid #dfdee3;margin-top:31px;}
.duohang-img{width: 47px;height: 205px;}
.duoh{outline: none;color:#5f4c83;font-family:"楷体";}
.duoduo{width: 380px;height: 213px;margin-top:31px;padding-left: 38px;box-sizing: border-box;overflow: hidden;}
.qin{color: #7e7d82;font-size: 14px;}
.xiexie{color: #605f64;font-size: 16px;margin-top: 52px;}
.baixinfeng{margin-top:59px;width:349px;height:49px;background: #158bcb;}
.baixinfeng-img{width: 47px;height: 47px;}
.fasong{width: 301px;height: 49px;text-align: center;background:#158bcb;color: #fff;font-family: "楷体";}

.dizhi{width: 1100px;height: 334px;padding-top:87px;box-sizing: border-box;}
.dizhi01{width:365px;height:248px;}
.dizhi-img{width: 107px;height: 113px;}
.dizhi-font{width: 250px;height: 248px;padding-left:28px;box-sizing: border-box;}
.zhi{color:#5e4b83;font-size: 26px;font-weight: 600;}
.xuxian-img{width: 213px;height:38px;padding-top:18px;box-sizing: border-box;}
.beijing{color: #524e5c;font-family: "楷体";font-size: 16px;line-height: 48px;}

.shenme{width: 670px;height: 205px;background: #fff;padding: 20px 0 0 20px;box-sizing: border-box;}
.lianxiren:hover{border: 1px solid #b5b5b5;}
.duohang:hover{border: 1px solid #b5b5b5;}
/*wrap*/
#map{width: 100%;min-width: 1100px;height: 626px;}


/*keting-img*/
.keting-img{position:relative;overflow:hidden;width: 1060px;height: 275px;margin: 0 auto;margin-bottom:20px;}
.ke-font{position: absolute;top: 0px;left: 0px;}
.ke-change{transition:.5s;}
.keting-img:hover .ke-change{transform: scale(1.1);}
.julebu{width: 1060px;height: 275px;margin: 0 auto;margin-bottom: 40px;}
.julebu-left{width: 700px;height: 275px;}
.ulebu-right{width: 340px;height: 275px;}
